.no-result {
  font-size: 28px;
  margin-top: 100px;
}

.list-ingredient {
  width: 300px;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: $input_ingredient;
  color: white;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.list-appliance {
  width: 300px;
  height: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $input-appliance;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.list-ustensils {
  width: 300px;
  height: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $input-ustensils;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.blueTag {
  background-color: $input_ingredient;
}

.greenTag {
  background-color: $input-appliance;
}

.redTag {
  background-color: $input-ustensils;
}

.list {
  position: absolute;
  top: 0px;
  padding-top: 50px;
}

.animLogo {
  animation: anim 0.1s forwards;
}