.no-result {
  font-size: 28px;
  margin-top: 100px;
}

#bigInput{
width: 360px;
display: block;
text-align: left;
padding: 0 0 0 20px;
}

.list-ingredient {
@include size-container(400px, auto);

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: $input_ingredient;
  color: white;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.list-appliance {
@include size-container(400px, auto);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $input-appliance;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.list-ustensils {
@include size-container(400px, auto);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $input-ustensils;
  li {
    font-size: 18px;
    padding: 10px;
    width: 30%;
  }
}

.blueTag {
  background-color: $input_ingredient;
}

.greenTag {
  background-color: $input-appliance;
}

.redTag {
  background-color: $input-ustensils;
}

.list {
  position: absolute;
  top: 0px;
  padding-top: 50px;
}

.animLogo {
  animation: anim 0.1s forwards;
}
