body{
    width: 90%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    font-family: "crimsonbold";
}

@font-face {
    font-family: 'crimsonbold';
    src: url('../police/crimson-bold-webfont.woff2') format('woff2'),
         url('../police/crimson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title-section{
    display: none;
}

li{
    list-style-type: none;
}