.header_index {
  @include flex(center, center);
  @include size-container(100%, auto);
  margin-bottom: 50px;
  img{
    width: 70%;
    transform: translateX(60px)
  }
}

.main_index {
  @include size-container(100%, auto);
}

.search-zone {
  @include size-container(100%, auto);
  position: relative;
  .item {
    @include size-container(100%, 60px);
    background-color: $bg-field;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    font-size: 20px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: $bg-field;
    padding: 15px 5px;
  }
}

.box{
    display: inline-block;
    position: relative;
}
.style-input{
    position: relative;
}

.list{
  margin-right: 50px
}

.select {
  @include size-container(140px, 60px);
  color: $input-txt;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  &--ingredient {
    background-color: $input_ingredient;
  }
  &--appareil {
    background-color: $input-appliance;
  }
  &--ustensile {
    background-color: $input-ustensils;
  }
}

.all_recipes {
  @include size-container(100%, auto);
  @include flex(space-around, center);
  flex-wrap: wrap;
}

.card_recipe {
  @include size-container(30%, 350px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40% 15% 40% 5%;
  background-color: $bg-article;
  border-radius: 7px;
  margin: 20px;
  .picture_recipe {
    display: block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: $bg-nopicture;
    grid-area: 1/1/2/3;
  }
  .head_card {
    grid-area: 2/1/3/3;
    @include flex(space-between, center);
    padding: 0 20px;
    font-size: 10px;
    span {
      font-size: 15px;
      margin-left: 5px;
    }
  }

  .description_recipe {
    grid-area: 3/1/4/3;
    @include size-container(100%, auto);
    @include flex(space-between, flex-start);
    overflow: hidden;
    .list_ingredients {
      width: 50%;
      > p {
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
      }
    }
    .make_recipe {
      width: 50%;
      .instructions {
        padding: 14px;
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}

.tag {
  display: inline-block;
  color: white;
  position: relative;

  font-size: 22px;
  border-radius: 5px;
  padding: 20px 40px;
  margin-right: 15px;
}
